.footer {
    padding: 20px;
    margin: 20px;
    text-align: center;

    .footer-content {
        color: $secondary;
        font-size: $fz-sm;
        line-height: 1.5;

        p {
            font-family: $font-mono;
        }

        ul {
            display: none;
            align-items: center;
            flex-direction: row;
            list-style-type: none;
            flex-wrap: nowrap;
            align-content: center;
            justify-content: center;
            padding: 0px;

            @media only screen and (max-width: 500px) {
                display: flex;
            }

            li {
                margin: 5px;
                padding: 5px;
                color: $secondary;
                font-size: $fz-sm;
                // font-family: $font-mono;
            }
        }

        svg {
            margin: 0px 5px;
            height: 20px;
            width: 20px;
        }

        i svg {
            color: red;
        }
    }
}
