.jobs {
    background-color: $navy;
    text-align: Left;
    // height: 100vh;
    font-weight: 600;
    // padding: 60px 60px;
    counter-increment: item 1;
    max-width: 700px;
    height: 100vh;
}
